@using Foundation.AspNetCore.Features.Blocks.PageListBlock
@using Foundation.AspNetCore.Features.Shared.SelectionFactories

@model PageListBlockViewModel

@Html.FullRefreshPropertiesMetaData(new[] { "IncludePublishDate", "IncludeTeaserText", "Count", "SortOrder", "Root", "PageTypeFilter", "CategoryFilter", "Recursive" })

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <div class="row">
        <div class="col-12">
            <!--Heading section-->
            <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
            <hr />
            <!--Render template section-->
            @if (!string.IsNullOrEmpty(Model.CurrentBlock.Template))
            {
                switch (Model.CurrentBlock.Template)
                {
                    case TemplateSelections.Grid:
                        <partial name="Templates/_GridTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.ImageLeft:
                        <partial name="Templates/_LeftImageTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.ImageTop:
                        <partial name="Templates/_TopImageTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.NoImage:
                        <partial name="Templates/_NoImageTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.Highlight:
                        <partial name="Templates/_HighlightPanelTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.Card:
                        <partial name="Templates/_CardTemplate.cshtml" model="@Model" />
                        break;

                    case TemplateSelections.Insight:
                        <partial name="Templates/_InsightTemplate.cshtml" model="@Model" />
                        break;

                    default:
                        <partial name="Templates/_GridTemplate.cshtml" model="@Model" />
                        break;
                }
            }
        </div>
    </div>
</div>